/* src/css/global/variables.css */

/**
 * Gothic Design System: Base Variables
 * These variables define the structure and shared properties across all themes
 */

 :root {
  --gutter: var(--space-s-l);
  --flow-space: var(--space-m);

  --font-primary: 'Cinzel', serif;
  --font-secondary: 'Kode Mono', monospace;

  --leading-standard: 1.5;
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

  --wrapper-max-width: 1566px;
  --wrapper-max-width-narrow: 1110px;
}
